@import '../../../../theme.scss';

.WorkloadSection {
	position: relative;
	margin-left: 2.5rem;
	margin-right: 4rem;
	margin-top: 4rem;
}

.Insights {
	font-size: 24px;
	font-family: 'Gilroy-Bold';
	color: $primary-label;
}

.Heading{
  font-size: 18px;
	font-family: 'Gilroy-Bold';
	color: $primary-label;
}

.Card{
  background-color: $card-bg;
  border-radius: 4px;
  padding: 2rem;
  box-shadow: 0px 7px 9px -1.87px $infocard;
}

.Box{
  border-radius: 4px;
  border: 1px solid $primary-background;
  padding: 2rem 2rem 0.75rem 2rem;
  width: 75.7%;
}

.VerticalLine{
  border-left: 2px solid $vertical-line;
}

.Total{
  font-size: 48px;
  color: $primary-label;
  font-family: 'Gilroy-Medium';
}

.GreyBold{
  font-size: 40px;
  color: $secondary-label;
  font-family: 'Gilroy-Medium';
}

.GreySmall{
  font-size: 14px;
  color: $secondary-label;
  font-family: 'Gilroy-Bold';
  line-height: 1rem;
}

.GreenZone{
  font-size: 14px;
	font-family: 'Gilroy-Bold';
	color: $success;
}

.OrangeZone{
  font-size: 14px;
	font-family: 'Gilroy-Bold';
	color: $insights-orange;
}

.RedZone{
  font-size: 14px;
	font-family: 'Gilroy-Bold';
	color: $danger;
}

.Yellow{
  border-radius: 50%;
  height: 16px;
  width: 16px;
  background-color: $task-filter-open;
  display: inline-block;
}

.Green{
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: $insights-green;
  display: inline-block;
}

.Pink{
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: $insights-pink;
  display: inline-block;
}

.YellowLine{
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
  border: 4px solid $task-filter-open;
}

.GreenLine{
  border: 4px solid $insights-green;
}

.PinkLine{
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  border: 4px solid $insights-pink;
}

.DefaultOptionColor{
  color: $secondary-label !important;
}