@import '../../../../../theme.scss';

.ContainerPadding64{
    padding-top: 1rem;   
}

.CardLayout{
    box-shadow: 0 2px 16px 0 rgba(0,0,0,0.11);
    background-color: $card-bg;
    border-radius: 4px;
    margin-bottom: 3rem;
    margin-top: 1rem;
    border: none;
    flex-wrap: nowrap;
}

.CardPadding{
    padding: 40px 40px;
}

.Arrow{
    padding-right:1rem;
}

.smallText{
    color:$secondary-label;	
    font-family: 'Gilroy-Bold';	
    font-size: 14px;	
    line-height: 30px;
}

.UploadDoc{
    background-color: $secondary-background;
    border-radius: 20px;
}

.UploadDocText{
    color: $active-link;
    font-size: 14px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.SubmitPadding{
    padding-left: 10px;
    padding-top: 20px;
}

.Border{
    padding: 30px 30px;
    border-radius: 4px;
    border: 1px solid $primary-background;
    border-width: 0.1rem;
}

.OrgHeading{
    font-size: 24px;
    color: $card-link;
}

.Italic{
    color: $secondary-label;
    font-size: 14px;
}

.smallLabel{
    color:$card-link;	
    font-family: 'Gilroy';	
    font-size: 14px;	
    line-height: 20px;
    margin-bottom: 0%;
}

.HorizontalLine{
    border: 1px solid $horizontal-line;
}

.smallCardHeading{
    color:$secondary-label;	
    font-family: 'Gilroy';	
    font-size: 14px;
}

.contactInfo{
    color:$secondary-label;	
    font-family: 'Gilroy';	
    font-size: 12px;
    margin-bottom: 0%;
    line-height: 17px;
}

.contactBackground{
    background-color: $primary-background;
    border-radius: 4px;
    overflow-x: scroll;
    margin-left: 10px;
}

.contactName{
    color:$secondary-label;	
    font-family: 'Gilroy';	
    font-size: 12px;
    margin-bottom: 0%;
}

.contactLabel{
    color:$secondary-label;	
    font-family: 'Gilroy';	
    font-size: 12px;
    margin-bottom: 0%;
}

.image{
    position: absolute;
    top: 5.6rem;
    left: 25%;
    width: 7%;
}

.LabelWithValue {
    font-size: 12px;
    font-family: Gilroy-Medium;
    font-weight: bold;
    color:$secondary-label;
}

.verify{
    background-color: $primary-background;
    border-radius: 25px;
    width: max-content;
}

.verifyLabel{
    font-size: 14px;
    color: $card-link;
    margin-bottom: 0%;
}

.verifyBpss{
    font-size: 12px;
    color: $secondary-label;
    margin-bottom: 0%;
}

.flexDirection{
    display: flex;
    flex-direction: row;
}

.formBackground{
    width: 100%;
    background-color:$primary-background;
    z-index: 1000;
    top:0;
    left: 0;
    right:0;
    height: 100%;
    position: fixed;
    overflow-y: auto;
}

.PaddingLeftArrow{
    margin-top: 16px !important;
    padding-left: 16.5% !important;
}