@import '../../../theme.scss';

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 10;
  stroke-miterlimit: 10;
  stroke: $active-link;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: block;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  stroke-width: 4;
  stroke-linecap: round;
  stroke: $card-bg;
  box-shadow: inset 0px 0px 0px $active-link;
  animation: fill .4s ease-in-out .4s forwards;
}

.checkmarkEdit {
  border-radius: 32px;
  height: 40px;
  min-width: 120px;
  display: block;
  stroke-width: 2;
  stroke: $card-bg;
  box-shadow: inset 0px 0px 0px black;
  animation: fill .4s ease-in-out .4s forwards;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}


@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px $active-link;
  }
}

.checkmark__edit {
  width: 92%;
  height: 37px;
  border-radius: 20px;
  display: block;
  stroke-width: 2;
  stroke: $card-bg;
  box-shadow: inset 0px 0px 0px $secondary-label;
  animation: fill 1s ease-in-out 1s both;
}

//error case
.error__checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 10;
  stroke-miterlimit: 10;
  stroke: $danger;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.error__checkmark {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: block;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  stroke-width: 4;
  stroke-linecap: round;
  stroke: $card-bg;
  box-shadow: inset 0px 0px 0px $danger;
  animation: efill .4s ease-in-out .4s forwards;
}

.error__checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}


@keyframes scale {
  0%, 100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}


@keyframes efill {
  100% {
    box-shadow: inset 0px 0px 0px 30px $danger;
  }
}

.Loader {
  // margin-top: 0.5rem;
  margin-right: 2.3rem;
  margin-left: 2.5rem;
  border: 5px solid $card-bg;
  border-top: 5px solid $active-link;
  border-radius: 50%;
  width: 39px;
  height: 39px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}