@import '../../../../theme.scss';

.alignCenter{
    padding-left: 13%;
    width: 100%;
    padding-right: 4%;
    margin-top: 1rem;
    height: 100vh;
    overflow: auto;
}

.Card{
    background-color: $card-bg;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.11), 0 2px 11px 0 rgba(0, 0, 0, 0.11);
}

.ShowErrorNotificationCard{
    display: block;
    min-height: 1.5rem;
    background-color: $error-notification;
}

.emptyNotification{
    background-color: transparent;
    min-height: 1.5rem;
}

.container{
    padding: 36px 16px 24px 40px;
    background-color: $card-bg;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.11), 0 2px 11px 0 rgba(0, 0, 0, 0.11);
}