@import "../../../../../../theme.scss";

.formLayout {
    background-color: $card-bg;
    padding: 1rem 2rem 0rem 2rem;
}

.horizontalLine {
    border-top: 2px solid $secondary-background;
    width: 63%;
    position: absolute;
    margin-top: 12px;
}

.horizontalLineInactive {
    border-top: 2px solid $disabled-background;
    width: 63%;
    position: absolute;
    margin-top: 12px;
}

.opacityHeadOut {
    opacity: 1;

    transition: ease-out 0.2s;
}
.opacityHeadIn {
    opacity: 0;
    display: none;
    transition: ease-in-out 0.2s;
}

.formHeadActive {
    border-radius: 12px;
    color: $active-link;
    background-color: $secondary-background;
    padding: 4px 8px;
    // z-index: ;
    position: relative;
    font-size: 12px;
}

.formHead {
    border-radius: 12px;
    color: $card-bg;
    background-color: $disabled-background;
    padding: 4px 8px;
    // z-index: ;
    position: relative;
    font-size: 12px;
    margin-bottom: 1rem;
}

.addHeading {
    font-size: 14px;
    color: $active-link;
    cursor: pointer;
    margin-top: 1rem;
}
