@import '../../../../../theme.scss';

.backdrop {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 99;
	background-color: rgba(243, 247, 253, 0.9);
	overflow-y: auto;
}

.closeStyle {
	margin-top: 74px;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.Container {
	width: 45rem;
	left: 25%;
	right: 25%;
	text-align: left;
	border-radius: 4px;
	background-color: $card-bg;
	box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.11);
	margin: 16px auto;
	overflow-y: auto;
}

.CardPadding {
	padding: 2rem;
}

.HorizontalLine {
	margin: 1.5rem 0rem;
	// border: 1px solid $horizontal-line;
}

.mediumText {
    color: $primary-label;
    font-family: "Gilroy-Medium";
    font-size: 18px;
    line-height: 18px;
    text-align: center;
}

.countcircle {
	height: 2.2rem;
	width: 2.2rem;
	border-radius: 50%;
	background-color: $primary-background;
	margin-left: 0.2rem;
	font-size: 10px;
	color: $secondary-label;
	display: flex;
	align-items: center;
	justify-content: center;
}

.profilePicUrl {
	height: 2.2rem;
	width: 2.2rem;
	border-radius: 50%;
	margin-left: 0.2rem;
}

.orgCircle {
	height: 24px;
	width: 24px;
	border-radius: 50%;
	font-size: 10px;
	color: $card-bg;
	display: flex;
	align-items: center;
	justify-content: center;
}

.MainHeading {
	color: $secondary-label;
	margin-top: 16px;
	text-align: center;
	font-size: 24px;
	font-family: Gilroy-Light;
}

.Cursor {
	&:hover {
		cursor: pointer;
	}
}

.greyBg {
	background-color: $default-theme;
	border-radius: 8px;
    height: 3.5rem;
}

.helpText {
	font-size: 14px;
	color: $secondary-label;
    font-family: Gilroy;
    line-height: 17px;
}

.greyTextSmall {
	font-size: 12px;
	color: $secondary-label;
	font-family: Gilroy;
}

.greyTextBold {
    font-size: 12px;
	color: $secondary-label;
	font-family: Gilroy-Bold;
}

.greySubHeadingBold {
    font-size: 14px;
	color: $secondary-label;
	font-family: Gilroy-Bold;
}

.headingBold {
    font-size: 14px;
    font-family: Gilroy-Bold;
    color: $primary-label;
    line-height: 17px;
}

.primaryText {
    font-size: 14px;
    font-family: Gilroy-Medium;
    color: $primary-label;
    line-height: 17px;
}

.statusBar {
    width: 70%;
    height: 1rem;
    border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.greenBorder {
	border: 4px solid $success-notification-bg;
	background-color: 4px solid $success-notification-bg;
}

.yellowBorder {
	border: 4px solid $success-notification-bgv;
	background-color: $success-notification-bgv;
}

.yellow {
	display: block;
	height: 100%;
	background-color: $warning;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.green {
	display: block;
	height: 100%;
	background-color: $success;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.missingInfo {
	background-color: $success-notification-bgv;
	color: $warning;
	font-size: 14px;
	font-family: Gilroy-Medium;
	border-radius: 15px;
	padding: 8px;
}

.img16px {
	height: 16px;
	width: 16px;
}

.img24px {
	height: 24px;
	width: 24px;
}

.rotateIcon {
	transform: rotate(180deg);
}

.overflow {
	overflow-y: auto;
	height: 14rem;
	padding-right: 0.5rem;
}