@import '../../theme.scss';

.Body{
    background-color: $primary-background;
}

.pageHeader{
    height: 100px;
    background-color: $card-bg;
    padding-top: 1.5rem;
    text-align: left;
}
@media (min-width: 576px){
    .pageHeader{text-align: center; height: 76px;}
}

.bpssLogo{
    width: 10.75rem;
}
@media (min-width: 576px){
    .bpssLogo{
        width: 8.25rem;
    }
}

.Header{
    font-family: Gilroy-Bold;	
    font-size: 24px;	
    font-weight: 800;	
    line-height: 29px;
}

@media (min-width: 576px){
    .Header{
        font-size: 40px;
        line-height: 49px;
    }
}



.SubHeading{
    font-family: Gilroy;
    font-size: 18px;	
    color: $primary-label;
    line-height: 26px;

}
@media (min-width: 576px){
   .SubHeading{
     font-size: 24px;
     line-height: 29px;
   }
}

.SubHeadingBold{
    font-family: Gilroy-Bold;	
    font-size: 18px;	
    color: $primary-label;
    line-height: 26px;
}
@media (min-width: 576px){
    .SubHeadingBold{
        font-size: 24px;
        line-height: 29px;
    }
}

.HeadingContainer{
    text-align: left;
}

@media (min-width: 576px){
    .HeadingContainer{text-align: center;}
}


.SuccessLabel{
    color: $primary-label;	
    font-family: Gilroy-Medium;	
    font-size: 18px;	
    line-height: 28px;	
    padding-top: 24px;
    padding-left: 1rem;
    padding-right: 1rem;
    //text-align: center;
}
@media (min-width: 576px){
    .SuccessLabel{
        font-size: 24px;
    }
}

