@import"../../../theme.scss";

.formBackground{
    width: 100%;
    background-color:$primary-background;
    z-index: 1000;
    top:0;
    left: 0;
    right:0;
    height: 100%;
    position: fixed;
    overflow-y: auto;
    background-color: $card-bg;
}

.Container{
    // text-align: center;
    width : 35rem;
    margin-left: auto;
    margin-right: auto;
}

.Close{
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 3rem;
    cursor: pointer;
}
.Heading{
    font-size: 48px;
    font-family: Gilroy-Thin;
}

.inputField{
    width: 35rem;
    height: 4rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    border: 1px solid $primary-background;
    font-size: 24px;
    outline: none;
    padding-left: 10px;
    color: $page-title;
    &::placeholder{
        color: $secondary-label;
        font-family: Gilroy-Light;
    }
    &:focus{
        border-color: $active-link;
    }
}

.inputs{
   float: center;
}

.label{
    color:$secondary-label;
    font-size: 14px;
}

.labelRight{
    color:$secondary-label;
    font-size: 12px;
    float: right;
}

.hr{
    margin-top: 2rem;
    border-top: 2px solid $horizontal-line;
}

.AlignButton{
    text-align: center;
    margin-top: 2rem;
}
.buttonNext{
    width: 19.5rem;
    line-height: 1.5;
    // background-color: $active-link;
    padding: 10px;
    border-radius: 35px;
    outline: none;
    border: none;
    font-family: Gilroy-Light;
    &:focus{
        outline: none;
    }
}
.buttonNextEnable{
    background-color: $active-link;
    cursor: pointer;
    &:hover{
        background-color: $add-hover;
    }
}
.buttonNextDisable{
    background-color: $disable-bg;
    &:hover{
        cursor: not-allowed;

    }
}

.nextText{
    color: $card-bg;
    font-size: 24px;
    padding-right: 30px;
    float:left;
    padding-left: 1rem;
}

.arrow{
    float: right;
    padding-right: 1rem;
    margin-top: 12px;
}

.infoText{
    font-size: 14px;
    margin-left: 0.5rem;
}

.warning{
    border: 1px solid $danger !important;
}

.disableInput{
    cursor: not-allowed;
}