@import '../../../../../../theme.scss';

.formHead {
    color: $primary-label;
    font-family: "Gilroy-Bold";
    font-size: 18px;
    margin-top: 1rem;
    letter-spacing: 0.4px;
}

.HorizontalLine{
    border: 1px solid $primary-background;
}

.width{
    width: 49%;
}