@import "../../../../../theme.scss";

.TabAlign{
    // float: right;
    height: 2rem;
    // margin-left: 6rem;
}

.RightNavAlign{
    padding-top: 2.4rem;
    background-color: $primary-background;
    overflow-x: hidden;
}