@import '../../../../../theme.scss';

.alignCenter{
    padding-left: 14%;
    width: 100%;
    padding-right: 2%;
    // height: 100vh;
    // overflow: auto;
}

.cardLayout {
	background-color: $card-bg;
	border-radius: 4px;
	margin-bottom: 3rem;
	border: none;
	flex-wrap: nowrap;
    // box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.11);
    padding: 2rem 0rem 2rem 2.5rem;
}

.sectionHeading{
    font-size: 18px;
    color: $primary-label;
    font-family: 'Gilroy-Medium';
    letter-spacing: 0.3px;
    font-weight: 700;
}


.formHeader {
    background-color: $card-bg;
    padding: 8px;
    font-family: "Gilroy-Light";
}

.formHeaderContent{
    padding: 8px;
    background-color: $primary-background;
    width: 100%;
}

.timeHeading {
    margin-top: auto;
    margin-bottom: auto;
}

.linkBg{
    background-color: $primary-background;
}

.fixedHeader{
    position: sticky;
    top: 0;
    z-index: 7;
    background-color: $primary-background;
    width: 100%;
}

.cancelButton{
    background-color: transparent;
    min-width: 6rem;
}