@import '../../../../../../theme.scss';

.LowerCardInactive{
    box-shadow: 0 0.125rem 1rem 0 rgba(0,0,0,0.11);
    background-color: $card-bg;
    border-radius: 0.25rem;
    margin-bottom: 3rem;
    border: none;
    flex-wrap: nowrap;
    padding: 2.5rem 2.5rem;
    opacity: 0.6;
    color:$inactive-font;
    user-select: none;
    pointer-events:none;
}

.CardLayout{
    box-shadow: 0 2px 16px 0 rgba(0,0,0,0.11);
    background-color: $card-bg;
    border-radius: 4px;
    margin-bottom: 3rem;
    border: none;
    flex-wrap: nowrap;
   // font-size: 12px;
    // font-family: Gilroy-Medium;
    // font-weight: bold;
    color: $primary-label
    
}

.CardPadding{
    padding: 32px 40px 40px 40px;
}

.idValuePosition{
    margin-top:0rem;
}
.idValue{
    color: $primary-label;
    font-family: 'Gilroy';
    font-size: 1.5rem;
    line-height: 1.8125rem;
    margin-bottom: 0rem;
}
.idValueInactive{
    color: $inactive-font;
    font-family: 'Gilroy';
    font-size: 1.5rem;
    line-height: 1.8125rem;
    margin-bottom: 0rem;
}

.smallLabel{
    color: $secondary-label;	
    font-family: 'Gilroy';
    font-size: 0.75rem;	
    line-height: 0.9375rem;
    // margin-bottom: 2rem;
}

.smallLabelInactive{
    color: $inactive-font;	
    font-family: 'Gilroy';
    font-size: 0.75rem;	
    line-height: 0.9375rem;
    // margin-bottom: 2rem;
}

.fullNameActive{
    color: $card-link;
    font-size: 14px;
    font-family: 'Gilroy';
}

.fullNameInactive{
    color: $secondary-label;
    font-size: 14px;
    font-family: 'Gilroy';
}

.VerifiedLabel{
    color:$secondary-label;
    font-size: 0.875rem;
    font-family: 'Gilroy-Medium';
    float: left;
    justify-content: center;
}

.VerifiedLabelInactive{
    color:$secondary-label;
    font-size: 0.875rem;
    font-family: 'Gilroy-Medium';
    float: left;
    justify-content: center;
}

.boldText{
    color: $secondary-label;
    font-family: 'Gilroy-Bold';
    font-size: 0.875rem;
    line-height: 1.0625rem;
}
.boldTextInactive{
    color: $inactive-font;
    font-family: 'Gilroy-Bold';
    font-size: 0.875rem;
    line-height: 1.0625rem;
}

.NameFont{
    color: $primary-label;
    font-family: 'Gilroy';
    font-size: 1.5rem;
    margin-bottom: 0rem;
    margin-top: 0rem;
}

.NameFontInactive{
    color: $inactive-font;
    font-family: 'Gilroy';
    font-size: 1.5rem;
    margin-bottom: 0rem;
    margin-top: 0rem;
}

.commentSmallLabel{
    color: $secondary-label;	
    font-family: 'Gilroy';
    font-size: 0.75rem;	
    line-height: 0.9375rem;
}
.commentSmallLabelInactive{
    color: $inactive-font;	
    font-family: 'Gilroy';
    font-size: 0.75rem;	
    line-height: 0.9375rem;
}

.Profile{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.hover{
    &:hover{
        cursor: pointer;
    }
}

.horizontalCardLine{
    border: 0.0625rem solid $horizontal-line;
    margin-top: 1.375rem;
    margin-bottom: 1.375rem;
}

.loader{
    opacity: 1;
    height: 40px;
    width: 40px;
  }
  
  .loaderBackground{
    background-color:$primary-label;
    opacity: 0.5;
    height: 40px;	
    width: 40px;	
    border-radius: 50%;	
    object-fit: cover;
    margin-right: 0.5rem;
  }