@import '../../../../../theme.scss';

.alignCenter {
	padding-left: 14%;
	width: 100%;
	padding-right: 2%;
	// padding-top: 1rem;
	// height: 100vh;
	// overflow: auto;
}

.ContainerPadding64 {
	padding-top: 24px;
}

// .CardLayout {
// 	box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.11);
// 	background-color: $card-bg;
// 	border-radius: 4px;
// 	margin-bottom: 3rem;
// 	border: none;
// 	flex-wrap: nowrap;
// }

.CardPadding {
	padding: 2.5rem;
	background-color: $card-bg;
}

.AlignLeft {
	margin-left: 10rem;
	margin-right: 2rem;
}

.smallText {
	color: $secondary-label;
	font-family: 'Gilroy-Bold';
	font-size: 14px;
	line-height: 30px;
}

.Arrow {
	padding-right: 1rem;
}

.TextSelect {
	color: $secondary-label;
	font-family: 'Gilroy-Bold';
	font-size: 14px;
}

.HorizontalLine {
	border: 1px solid $primary-background;
}

.ShowErrorNotificationCard {
	display: block;
	min-height: 1.5rem;
	background-color: $error-notification;
}

.HideErrorNotificationCard {
	display: none;
}

.emptyNotification {
	background-color: transparent;
	min-height: 1.5rem;
}

.addSpoc {
	border-color: $secondary-label;
	border: 1px solid $primary-background;
	height: 3rem;
	border-radius: 4px;
}

.dropdownMenu {
	box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.11);
	position: absolute;
	background: $card-bg;
	width: 61%;
	z-index: 100;
	max-height: 9rem;
	overflow-y: auto;
}

.searchBar {
	outline: none;
	padding-top: 4px;
	font-family: 'Gilroy-Light';
	font-size: 24px;
	border: none;
	color: $active-link;
	width: 90%;
	background-color: $card-bg;
	transform: translateY(2px);
	 ::placeholder {
		color: $secondary-label;
	}
}

.PaddingLeftArrow {
	padding-left: 15%;
	margin-top: 16px;
}

.subHeading {
	font-size: 14px;
	font-family: 'Gilroy';
	color: $secondary-label;
}

.tagDropDown{
    cursor: pointer;
    color : $secondary-label;
    border-bottom: 1px solid $primary-background;
    font-size: 14px;
    font-family: 'Gilroy';
    padding: 8px 16px 8px 16px;
}


.cardLayout {
	background-color: $card-bg;
	border-radius: 4px;
	margin-bottom: 3rem;
	border: none;
	flex-wrap: nowrap;
    // box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.11);
    padding: 2rem 0rem 2rem 2.5rem;
}

.sectionHeading{
    font-size: 18px;
    color: $primary-label;
    font-family: 'Gilroy-Medium';
    letter-spacing: 0.3px;
    font-weight: 700;
}


.formHeader {
    background-color: $card-bg;
    padding: 8px;
    font-family: "Gilroy-Light";
}

.formHeaderContent{
    padding: 8px;
    background-color: $primary-background;
    width: 100%;
}

.timeHeading {
    margin-top: auto;
    margin-bottom: auto;
}

.linkBg{
    background-color: $primary-background;
}

.fixedHeader{
    position: sticky;
    top: 0;
    z-index: 7;
    background-color: $primary-background;
	width: 100%;
	padding-top: 1rem;
}

.cancelButton{
    background-color: transparent;
    min-width: 6rem;
}