@import'../../../../../../theme.scss';

.alignCenter {
    padding-left: 14%;
    width: 100%;
    padding-right: 3%;
    height: 100vh;
}

@media (min-width: 1025px) {
    .alignCenter {
        padding-right: 25%;
    }
}

.container {
    background-color: $card-bg;
    padding: 24px 32px 56px 16px;
    position: relative;
    // margin-top: 1.5rem;
}

.fixedTopHeader{
    position: sticky;
    top: 0;
    z-index: 7;
    background-color: $primary-background;;
    width: 100%;
    padding-top: 16px;
}

.fixedHeader{
    padding: 8px;
    margin-top: 16px;
    background-color: $card-bg;
    width: 100%;
}

.formHeader {
    background-color: $primary-background;
    padding: 8px;
    font-family: "Gilroy-Light";
}

.timeHeading { 
    margin-top: auto;
    margin-bottom: auto;
}

.sectionHeading{
    color: $primary-label;
    font-family: Gilroy-SemiBold;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
}

.horizontalLine {
    border: 1px solid $horizontal-line;
    width: 98%;
    margin-left: 1rem;
}

.subHeading{
    color: $primary-label;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 17px;
}

.infoText{
    color: $secondary-label;
    font-family: Gilroy;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 14px;
}

.blueText{
    color: $active-link;
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    width: fit-content;
    line-height: 16px;
    cursor: pointer;
}

.deleteButton{
    margin-top: 40px;
    cursor: pointer;
}
.cancelButton{
    background-color: transparent;
    min-width: 6rem;
}

.checkMarkStyle{
    margin-top: 4px;
}

.checkBoxText{
    color: $secondary-label;
    font-family: Gilroy;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;
}

.removeContainer{
    height: 112px;
    border-radius: 0 0 4px 4px;
    background-color: $card-pvc;
    width: 100%;
    padding: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
}

.removeContainerText{
    color: $primary-label;
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
}