@import '../../../theme.scss';

.dropdown{
    background-color: $card-bg;
    color: $secondary-label;
    width: 10rem;
    padding: 15px 5px 15px 5px;
    position: fixed;
    left:5rem;
    bottom: 5rem;
    font-size: 14px;
    border : 1px solid $horizontal-line;
}

.dropdownOption{
    width: 10rem;
    // background-color: tomato;
    &:hover{
        width: 10rem;
        background-color: lightsteelblue;
    }
}