@import '../../theme.scss';


.Home{
    background-color:$primary-background;
    justify-content: space-between;
}

.LeftNavBar {
    position: fixed;
    z-index: 1;
    // height: calc(100vh - 0rem);
    height: 100vh;
    top:0rem;
    background-color: $card-bg;	
    // overflow-y: hidden;
    box-shadow: 2px 0 4px 0 rgba(0,0,0,0.06);
}