@import '../../../../../theme.scss';
.HeadCard{
    background-color:$card-bg;
    border-radius:4px;
    margin-top: 0rem;
    margin-bottom: 0.75rem;
    padding-top: 32px;
    box-shadow: 0 2px 16px 0 rgba(0,0,0,0.11);
    height: 14.1rem;
}

.smallLabel{
    color:$card-bg;	
    font-family: Gilroy;	
    font-size: 12px;	
    line-height: 15px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0.7rem;
    cursor: inherit;
}

.smallButton{
    background-color:$secondary-label;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    padding: 1px 6px 1px 6px;
    font-size: 12px;
    color: $card-bg;
    margin-left: 1.5rem;
    margin-top: 0.8rem;
}

.CardPadding{
    box-shadow:$card-link;
    background-color: $card-bg;
}

.CardLayout{
    background-color: $card-bg;
    border-radius: 4px; 
    margin-bottom: 0.75rem;
    border: none;
    padding:1rem;
}

.Card{  
    padding-right: 3rem;
    padding-left: 3rem;
    // margin-left: 2%;
}

.box{
    height: 104px;	
    width: 104px;	
    border-radius: 5px;	
    background-color: $secondary-background;
    position: absolute;
    top:5rem;
    right:5rem;
   
}

.boxLabel{
    height: 24px;	
    width: 59px;	
    color: $active-link;	
    font-family: Gilroy;	
    font-size: 24px;	
    line-height: 29px;	
    text-align: center;
    margin-top:38%;
    margin-left:20%;
}


.smallText{
    color:$secondary-label;	
    font-family: Gilroy;	
    font-size: 12px;	
    line-height: 15px;
}

.icon{
    margin-top: 1rem;
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
    margin-right:1rem;
}

.smallIcon{
    transform: rotate(-90deg);
    height: 10px;	
    width: 10px;
    filter: grayscale(100%) brightness(300%);
    float: right;
    margin-top:6%;
}

.tileDiv{
    width: 50%;
}

.orgHeading{
    color: $primary-label;	
    font-family:'Gilroy-Light';	
    font-size: 24px;
   // font-weight: 100%;
   margin: 0px;
   word-break: break-word;
   line-height: 29px;
}
.secondHeading{
    color: $secondary-label;	
    font-family: Gilroy;	
    font-size: 12px;	
    //line-height: 16px;
}

.tagText{
    color: $page-title;	
    font-family: Gilroy;	
    font-size: 14px;	
    line-height: 17px;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    // padding-top: 0.7rem!important;
}

.locationText{
    color: $page-title;	
    font-family: Gilroy;	
    font-size: 14px;	
    line-height: 14px;
    // padding-top: 0.5rem!important;
}

.tagSecondaryText{
    margin-top: 0.5rem;
    color: $secondary-label;	
    font-family: Gilroy;	
    font-size: 14px;	
    line-height: 17px;
    word-break: break-all;
}

.Line{
    box-sizing: border-box;	
    height: 1px;	
   // width: 880px;	
    border: 1px solid $card-bg;
}
.verticalLine {
    border-left: 1.5px solid $primary-label;
    display: inline;   
    margin-left: 5px;
    margin-right: 5px;
}

.SmallText{
    color:$secondary-label;
    font-size: 14px;

}
.Pic{
    margin-top: 0rem;
}

.hireContainer{
    border-radius: 13px;	
    background-color: $primary-background;
    height: 1.62rem;
    width:max-content;
    padding-right: 1rem;
}

.statusText{
    color: $primary-label;	
    font-family: Gilroy-Medium;	
    font-size: 14px;	
    line-height: 17px;
    margin-top: 0.29rem;
    margin-bottom: 0rem;
}

.statusIcon{
    padding-left: 1rem;
    padding-right: 0.5rem;
}

.TagSecondaryText{
    color: $secondary-label;	
    font-family: 'Gilroy';	
    font-size: 14px;	
    line-height: 17px;
}

.CreatedOnText{
    color: $secondary-label;	
    font-family: 'Gilroy';	
    font-size: 14px;	
}

.downloadTab {
	background-color: $primary-background;
	font-size: 14px;
	color: $secondary-label;
	padding: 6px 14px 4px 14px;
	border-radius: 25px;
    cursor: pointer;
    border-bottom: 1px solid $primary-background;
}

.downloadTabOpen {
	background-color: $card-bg;
	font-size: 14px;
	color: $secondary-label;
	padding: 6px 14px 4px 14px;
	border-radius: 18px 18px 0px 0px;
	border-bottom: 1px solid $primary-background;
	z-index: 100;
	position: inherit;
	cursor: pointer;
	box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.11);
}

.downloadMenu {
	background-color: $card-bg;
	border-radius: 0px 0px 18px 18px;
	position: absolute;
	font-size: 14px;
	width: 15.1rem;
	z-index: 100;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.11);
}

.downloadOption {
	color: $secondary-label;
	&:hover {
		background-color: $primary-background !important;
		cursor: pointer;
	}
}

.downloadOptionLast {
	color: $secondary-label;
	&:hover {
		background-color: $primary-background !important;
		cursor: pointer;
		border-bottom-left-radius: 18px;
		border-bottom-right-radius: 18px;
	}
}

.over {
	padding: 8px 12px 8px 14px;
	&:hover {
		filter: brightness(25%);
	}
}