@import'../../../../../../../theme.scss';

.backDrop{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9998;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.formContainer{
    position: absolute;
    height: max-content;
    width: 880px;
    top: 144px;
    border-radius: 4px;
    background-color: $card-bg;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.11);
    margin: auto;
    padding: 32px 40px 40px 32px;
}

.closeIcon{
    position: fixed;
    top: 100px;
    cursor: pointer;
}

.Heading{
    color: $primary-label;
    font-family: Gilroy-Bold;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
}

.SubText{
    color: $primary-label;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 17px;
    align-self: center;
}

.greySmallText{
    color: $secondary-label;
    font-family: Gilroy;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 14px;
}

.Input{
    color: $secondary-label;
    width: 272px !important; 
}
.Input label{
    color: $secondary-label !important;
    width: 272px !important; 
}

.cancelButtonActive{
    cursor: pointer;
}
.cancelButtonActive label{
    cursor: pointer;
}

.cancelButtonDisable{
    cursor: unset;
}
.cancelButtonDisable label{
    cursor: unset;
}



