@import '../../../../theme.scss';

.AlignLoader{
    margin-top: 0px;
    margin-bottom:-25px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
   
}

li {
    display: block;
    text-align: center;
    padding: 1% 1%;
    font-size: 14px;
    text-decoration: none;
    padding-bottom:20px;
}
li:last-child {
    border-right: none;
    
  }
li:first-child{
    padding: none;
}
.floatright{
    float: right;
}
.vl {
    border-left: 2px solid ;
    display: inline;
    padding-right: 2px;
  }
.NavLinkfont{
    color: $secondary-label;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 14px;
    border:0;
    background-color: rgba(250, 250, 252, 0);
    &:hover{
        text-decoration: none;
        color: $active-link;
        border:2px;
        border-color: $card-bg;
        width: relative;
       
    }
    &:active{
        text-decoration: none;
        color:$active-link;
        border:0;
    }
    
    &:focus{
        outline: none;
    }
}
.NavLinkfontActive{
    padding-top: 8px;
    padding-bottom: 14px; 
    border-bottom:2px solid $secondary-label;
    filter: brightness(0.6) sepia(1) hue-rotate(190deg) saturate(5);
}
.NavHead{
    color:$secondary-label;
}
.searchIcon{
    background: none;
    outline: none;
    border: 0px;
    display: inline-flex;
    padding-left: 15px;
    padding-bottom: 30px;
    &:focus{
        background: none;
    outline: none;
    border: 10px;
    border-color: $search-border
    }
}

.searchBar{
    margin-right: -50px;
    margin-left: 10px;
    border:none;
    outline: none;
    font-size: 24px;
    background: none;
    font-weight:initial;
    display: inline-flex;
    
    
}
.hr1{
    border:0.5px solid $card-bg;
    margin-top: 6%;
    width:100%;
    
}
::placeholder{
    color:$secondary-label;
}

.ali{
    display: inline-flex;
    padding-top: 4.5%;
    color: $secondary-label;
    line-height: 29px;
}