@import '../../../../theme.scss';

.AlignLoader{
    margin-top: 0px;
    margin-bottom: -25px;
    width: 40.5%;
}

.HorizontalLine{
    border: 1px solid $horizontal-line;
    width: 85%;
    margin-left: 0rem;
    margin-right: 0rem;
}