@import '../../../../../../../theme.scss';

.empInfo{
    font-size: 12px;
    color: $secondary-label;
    font-style: 'Gilroy-Medium';
}

.empName{
    font-size: 14px;
    color: $primary-label;
}

.empProfilePic{
    width: 50px;
    height: auto;
    max-height: 50px;
    border-radius: 50%;
}