@import '../../../../../../theme.scss';
 
 .SelectElement {
    color:$secondary-label;
    font: inherit;
    font-size:12px;
    
}
.SelectElement:hover{
    color:$primary-label;
}



.Label {
    font-size: 12px;
    font-family: Gilroy;
    font-weight: bold;
    color:$primary-label;
    display: block;
    margin-bottom: 8px;
    min-height: 18px;
}

.LabelWithValue {
    font-size: 12px;
    font-family: Gilroy;
    font-weight: bold;
    color:$secondary-label;
    display: block;
    margin-bottom: 8px;
    min-height: 18px;
}


.Select-element-outer {
    border: 20px
}
.Select.is-open > .Select-control {
    border-bottom-right-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
  }
  