@import "../../../../../../../theme.scss";

.formSubHead {
    color: $primary-label;
    font-family: "Gilroy-Bold";
    font-size: 18px;
    // margin-top: 1rem;
    letter-spacing: 0.4px;
    margin-bottom: 0.5rem;
}

.HorizontalLine {
    border: 1px solid $primary-background;
}

.Cursor {
    cursor: pointer;
}

.Preview {
    border-radius: 5%;
}

.showOpacity {
    opacity: 0.3;
}
