@import "../../../../../../../theme.scss";

.formSubHead {
    color: $primary-label;
    font-family: "Gilroy-Bold";
    font-size: 18px;
    letter-spacing: 0.4px;
}

.Preview {
    border-radius: 5%;
}

.showOpacity {
    opacity: 0.3;
}
