@import "../../../theme.scss";

.SearchBy{
    // color: ;
    font-size: 12px;
    margin-bottom: 0.6rem;
    padding-left: 8px;
    // position: absolute;
    // right: 12rem;
}

.searchDropdown{
    background-color: $card-bg;
    // border-radius: 20px;
    min-width: 14rem; 
    font-size: 14px;
    box-shadow: 0 2px 16px 0 rgba(0,0,0,0.11);
    z-index: 20;
    position: absolute;
    // right: 0px;
}

.HorizontalLine{
    border: 0.5px solid $primary-background;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.Options{
    color:$secondary-label ;
    font-size: 14px;
    width: 100%;
    padding: 4px 10px;
    width: 100%;
    &:hover{
        background-color: $primary-background;
        color: $primary-label;
        cursor: pointer;
    }
}

.SearchOption{
    border-radius: 5px;
    background-color: $primary-background;
    padding:8px 8px 5px 8px;
    color: $active-link;
    font-size: 14px;
    min-width: 14rem;
    border: 1px solid $horizontal-line;
    &:hover{
        cursor: pointer;
    }
}

.dropdownHead{
    color: $active-link;
}

.DropdownIcon{
    margin-top: 0.35rem;
    margin-left: 1.5rem;
}

.iconUp{
    margin-top: 0.5rem;
    padding-right: 16px;
    padding-top: 6px;
}