@import "../../../../../../../theme.scss";

.legends {
    font-size: 12px;
    color: $secondary-label;
    margin-left: 4%;
}

.yAxisMark {
    color: $horizontal-line;
}

.yAxisMark text {
    font-size: 10px;
    fill: $secondary-label !important;
    font-family: "gilroy-light";
}
.xAxisMark{
    color: $horizontal-line;
}

.xAxisMark text {
    font-size: 11px;
    color: $page-title !important;
    font-family: "gilroy";
    fill: $page-title ;
}


.xaxis path {
    display: none;
}

.chart {
    max-width: 92%;
    overflow: auto;
    min-width: 92%;
    background-color: $card-bg;
}

.tooltip {
    position: fixed;
    font-size: 10px;
    z-index: 999;
    opacity: 0;
    width: fit-content;
    height: fit-content;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.4);
    pointer-events: none;
}

.tooltip.hidden {
    opacity: 0;
}
.tooltip p {
    margin: 0;
    font-family: "gilroy-light";
    font-size: 10px;
}

.value {
    margin-left: 0.5rem;
}

.xaxis {
    display: inline-flex;
    margin-left: 1rem;
    background-color: $card-bg;
}

.profile {
    text-align: center;
    font-size: 12px;
    color: $secondary-label;
    margin-top: 1rem;
    padding-bottom: 1rem;
    letter-spacing: 0.25px;
}

text {
    font-size: 10px;
}

.contentTab {
    line-height: 14px;
    letter-spacing: 0.25px;
}

.initiated {
    height: 9px;
    width: 9px;
    background-color: #0b60b5;
    border-radius: 50%;
    display: inline-block;
    // margin-right: 0.5rem;
    // margin-left: 0.5rem;
  }
  
  .inprogress {
    height: 10px;
    width: 10px;
    background-color: #A4CEFF;
    border-radius: 50%;
    display: inline-block;
    // margin-right: 0.5rem;
    margin-left: 0.75rem;
  }
  
  .attrition {
    height: 3px;
    width: 10px;
    margin: 7px 0px 2px 14px;
    background-color: #01ACFF;
    display: inline-block; 
  }

.xLabel {
    font-size: 12px;
    width: 4.4rem;
    margin-right: 1.8rem;
    text-align: center;
}

.noDataTab {
    font-size: 16px;
    background-color: $primary-background;
    color: $secondary-label;
    padding: 5px 20px;
    border-radius: 45px;
    width: max-content;
    position: absolute;
    margin-top: 5.5rem;
    left: 42%;
}

.line {
    fill: none;
    stroke: #01acff;
    stroke-width: 3;
    z-index: 99;
}

.overlay {
    fill: none;
    pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #a5cefa;
    stroke: #01acff;
}

.focus circle {
    fill: none;
    stroke: steelblue;
}

.tooltipHeading{
    font-size: 12px;
    color: $page-title;
    font-family: 'Gilroy-SemiBold';
    margin-bottom: 12px;
}

.tooltipSubHeading{
    font-size: 12px;
    color: $secondary-label;
    font-family: 'Gilroy';
    margin-left: 6px;
}

.tooltipData{
    font-size: 16px;
    color: $page-title;
    font-family: 'Gilroy-Medium';
}

.borderRight{
    border-right: 1px solid #EEEFEF;;
    padding-right: 12px;
}