@import '../../../../theme.scss';

.FormBackgroundColor{
    background-color:$card-bg;
    border-radius: 4px;
    box-shadow: 0 2px 16px 0 rgba(0,0,0,0.11);
}

.HorizontalLine{
    border: 1px solid $horizontal-line;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}