@import "../../../../../../../theme.scss";

.formSubHead {
    color: $primary-label;
    font-family: "Gilroy-Bold";
    font-size: 18px;
    margin-top: 1rem;
    letter-spacing: 0.4px;
}

.showOpacity {
    opacity: 0.3;
}